body {
    font-family: Helvetica, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

.name a {
    color: #428bca;
}

.name a:hover, a:focus {
    text-decoration: underline
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    min-height: 860px;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 21px;
    white-space: nowrap;
}

.header > .separator {
    color: #aaa;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #eee;
    padding: 5px;
    font-size: 17px;
}

    input[type=checkbox] {
        transform: scale(2);
    }

button {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #428bca;
    color: #fff;
    box-shadow: 1px 1px 4px #eee;
    border-radius: 3px;
}

.clipboard {
    background-color: #eee;
    padding: 3px 7px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 80%;
}

.empty {
    direction: ltr;
    background-color: white;
    color: #aaa;
}

.file-list {
    height: 85vh;
}

.file-table {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    overflow-y: auto;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #e5e5e5;
    border-color: #ccc;
    border-bottom-color: #99ccff;
    border-width: 1px 1px 2px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #eee;
}

.separator {
    color: #ccc;
}

.console > textarea {
    color: white;
    background-color: black;
    width: 100%;
    overflow: auto;
}
